{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | TaskFlow</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<nav>

    <h1>TaskFlow</h1>

    <div class="nav-links">

        <a href="{% url 'home' %}">
            Home
        </a>

    </div>

</nav>

<div class="form-container">

    <div class="form-card">

        <h2>Login</h2>

        <p>Welcome back! Login to manage your tasks.</p>

        <form method="POST">

            {% csrf_token %}

            <input
                type="text"
                name="user_name"
                placeholder="Username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            {% if messages %}
                {% for message in messages %}
                    <p class="error-message">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}

            <button type="submit">
                Login
            </button>

        </form>

        <p class="bottom-link">

            Don't have an account?

            <a href="{% url 'register' %}">
                Register
            </a>

        </p>

    </div>

</div>

</body>
</html>